@import url(../src/vendor/normalize.css);
@import url(../src/vendor/fonts/Suisse-Intl/SuisseIntl.css);

.link {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.root {
  /* min-height: 800px; */
  height: auto;

}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  /* bottom: 0; */
  /* right: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.form {
  margin: 116px auto 38px;
  padding: 0;
  width: 630px;
  min-height: 646px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(27.5px);
  display: flex;
  flex-direction: column;
}

.form__title {
  margin: 45px auto 14px;
  width: calc(100% - 120px);
  color: #FFF;
  align-content: end;
  font-family: Suisse Intl;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
}

.form__input-title {
  margin: 16px auto 0;
  width: calc(100% - 120px);
  color: #FFF;
  font-family: Suisse Intl;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
}

.form__input-field {
  margin: 8px auto 0;
  color: #111;
  font-family: Suisse Intl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  border-radius: 12px;
  border: none;
  background: var(--bg-light-gray, #F4F5F6);
  width: calc(100% - 152px);
  padding: 16px;
  align-items: center;
  align-self: stretch;
}

.form__input-field:focus {
  outline: none;
}

.form__button-submit {
  margin: 30px auto 0;
  width: calc(100% - 120px);
  height: 60px;
  border-radius: 10px;
  border: none;
  background: #FFF;
  justify-content: center;
  align-items: center;
  color: #1334D0;
  font-family: Suisse Intl;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.form__separator {
  margin: 15px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 120px);
}

.form__separator-line {
  margin: 0;
  border: none;
  width: calc((100% - 88px)/2);
  height: 1px;
  opacity: 0.1;
  background: #FFF;
}

.form__separator-text {
  margin: 0 33px;
  color: #FFF;
  font-family: Suisse Intl;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.form__button-link {
  display: flex;
  margin: 15px auto 0;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  width: calc(100% - 120px);
  height: 60px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Suisse Intl;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.form__footer-text {
  width: calc(100% - 120px);
  margin: 16px auto 70px;
  color: #FFF;
  font-family: Suisse Intl;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
}

@media screen and (max-width: 750px) {
  .form {
    width: calc(100% - 60px);
  margin: 78px auto 25px;
  min-height: 330px;

  }

  .form__title {
    margin: 30px auto 14px;
    width: calc(100% - 60px);
    font-size: 30px;
    line-height: 35px;
  }

  .form__input-title {
    width: calc(100% - 60px);
    font-size: 12px;
  }

  .form__input-field {
    font-size: 14px;
    width: calc(100% - 84px);
  padding: 12px;

  }

  .form__button-submit {
    margin: 20px auto 0;
    width: calc(100% - 60px);
    height: 40px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .form__separator {
    margin: 15px auto 0;
    width: calc(100% - 60px);
  }
  
  .form__separator-line {
    width: calc((100% - 88px)/2);
  }
  
  .form__separator-text {
    margin: 0 33px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .form__button-link {
    border-radius: 10px;
    width: calc(100% - 60px);
    height: 40px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .form__footer-text {
    width: calc(100% - 60px);
    margin: 16px auto 40px;
    font-size: 12px;
    line-height: 150%;
  }
}